body {
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  background: #0d6efd;
  padding: 10px 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  position: relative;
}

.menu a:hover {
  background: #084298;
  border-radius: 4px;
}


.submenu-container {
  position: relative;
}

.submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  background: white;
  top: 35px;
  left: 0;
  border: 1px solid #ccc;
}

.submenu a {
  color: #333;
  padding: 8px 12px;
}

.submenu a:hover {
  background: #ff0101;
}

.submenu-container:hover .submenu {
  display: flex;
}

